ion-grid {
  margin-left: 10px;
  margin-right: 10px;
  --ion-grid-padding: 0px;

  --ion-grid-padding-xs: 0px;
  --ion-grid-padding-sm: 0px;
  --ion-grid-padding-md: 0px;
  --ion-grid-padding-lg: 0px;
  --ion-grid-padding-xl: 0px;

  --ion-grid-column-padding:10px;

  --ion-grid-column-padding-xs: 10px;
  --ion-grid-column-padding-sm: 10px;
  --ion-grid-column-padding-md: 10px;
  --ion-grid-column-padding-lg: 10px;
  --ion-grid-column-padding-xl: 10px;
}

ion-col {
  background-color:white;
  border: solid 1px;
  color:black;
  /* text-align: center; */
  
}
.pageContainer{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.h1{
  margin-left: 30px;
  margin-right: 30px;
}

.pageContainer2{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h{
  text-align: center;
}

